<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">FIRST NAME</th>
      <th scope="col">LAST NAME</th>
      <th scope="col">AGE</th>
      <th scope="col">GENDER</th>
    </tr>
  </thead>
  <tbody>
    {{#each students}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.firstname}}</td>
      <td>{{this.lastname}}</td>
      <td>{{this.age}}</td>
      <td>{{this.gender}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>